Source: libgaminggear
Priority: optional
Maintainer: Pierre-Elliott Bécue <becue@crans.org>
Build-Depends: cmake (>= 2.6.4),
               debhelper (>= 10),
               dh-exec,
               doxygen,
               libcanberra-dev,
               libglib2.0-dev,
               libgtk2.0-dev (>= 2.20),
               libnotify-dev,
               libsqlite3-dev (>= 3.7),
               pkg-config
Standards-Version: 4.1.1
Section: libs
Homepage: http://libgaminggear.sourceforge.net
Vcs-Browser: https://github.com/P-EB/libgaminggear
Vcs-Git: https://github.com/P-EB/libgaminggear.git -b master

Package: libgaminggear-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgaminggear0 (= ${binary:Version}),
         libglib2.0-dev,
         libgtk2.0-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Functionalities for gaming input devices (devel)
 This package provides the headers files and some doxygen-generated
 documentation to develop software using libgaminggear library.

Package: libgaminggear0
Architecture: any
Multi-Arch: same
Pre-Depends: ${shlibs:Pre-Depends}
Depends: libgaminggear-common, ${misc:Depends}, ${shlibs:Depends}
Description: Functionalities for gaming input devices
 This package contains the libgaminggear library, which provides general
 functionalities for gaming input devices such as keyboard and mouses.

Package: libgaminggear-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Functionalities for gaming input devices, common files
 This package contains the icons and other generic files that are not
 development files or libraries, useful for libgaminggear0 and
 gaminggear-utils.

Package: gaminggear-utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Utilities from libgaminggear
 Includes the following binaries:
 * gaminggearfxinfo
 * gaminggearfxcontrol
 .
 This package contains the runtime binaries.
