Source: libgaminggear
Priority: optional
Maintainer: Pierre-Elliott Bécue <becue@crans.org>
Build-Depends: cmake (>= 2.6.4),
               debhelper (>= 10),
               dh-exec,
               doxygen,
               libcanberra-dev,
               libglib2.0-dev,
               libgtk2.0-dev (>= 2.20),
               libnotify-dev,
               libsqlite3-dev (>= 3.7),
               pkg-config
Standards-Version: 4.1.1
Section: libs
Homepage: http://libgaminggear.sourceforge.net
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/libgaminggear.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/libgaminggear.git -b master

Package: libgaminggear-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgaminggear0 (= ${binary:Version}),
         libglib2.0-dev,
         libgtk2.0-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Functionalities for gaming input devices (devel)
 This package provides the headers files and some doxygen-generated
 documentation to develop software using libgaminggear library.

Package: libgaminggear0
Architecture: any
Multi-Arch: same
Pre-Depends: ${shlibs:Pre-Depends}
Depends: libgaminggear-common, ${misc:Depends}, ${shlibs:Depends}
Description: Functionalities for gaming input devices
 Libgaminggear0 contains needed functionality for roccat-tools that are not
 vendor specific and therefore might be useful for similar software. It
 contains some GUI elements for unifying look and feel of such type of
 software up to a complete macro editor with multi vendor import/export
 functionality. It also contains software macro playback functionality and
 audio/screen notifications.

Package: libgaminggear-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Functionalities for gaming input devices, common files
 This package contains the icons and other generic files that are not
 development files or libraries, useful for libgaminggear0 and
 gaminggear-utils.

Package: gaminggear-utils
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Utilities from libgaminggear
 Includes the following binaries:
 * gaminggearfxinfo
 * gaminggearfxcontrol
 .
 This package contains the runtime binaries that allow to get and control some
 visual effects of gaming devices, such as LEDS.
