# Build-Dependends built using a minimal container and calling cmake until it's
# happy, and then make until it builds.  Doxygen is optional in practise, but
# as we also want to compile the documentation it's required. SQLITE3 is also
# optional, but searched by cmake, so we use it.
Source: libgaminggear
Priority: optional
Maintainer: Pierre-Elliott Bécue <becue@crans.org>
Build-Depends: cmake (>= 2.6.4),
               libcanberra-dev,
               pkg-config,
               libglib2.0-dev,
               libgtk2.0-dev (>= 2.20),
               libnotify-dev,
               libsqlite3-dev (>= 3.7),
               doxygen,
               debhelper (>= 10)
Standards-Version: 4.1.1
Section: libs
Homepage: http://libgaminggear.sourceforge.net
#Vcs-Browser: https://github.com/P-EB/libgaminggear
#Vcs-Git: https://github.com/P-EB/libgaminggear.git -b master

# Depends: list built by inspecting all headers files, and making sure no
# include of a .c file is done.
Package: libgaminggear0-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgaminggear0 (= ${binary:Version}),
         libglib2.0-dev,
         libgtk2.0-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Functionalities for gaming input devices (devel)
 This package contains the libgaminggear library, which provides general
 functionalities for gaming input devices such as keyboard and mouses.
 .
 This package provides the headers files for the mentioned library.

Package: libgaminggear0
Architecture: any
Multi-Arch: same
Pre-Depends: ${shlibs:Pre-Depends}
Depends: libgaminggear-common, ${shlibs:Depends}, ${misc:Depends}
Description: Functionalities for gaming input devices
 This package contains the libgaminggear library, which provides general
 functionalities for gaming input devices such as keyboard and mouses.

Package: libgaminggear0-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Functionalities for gaming input devices, common files
 This package contains the libgaminggear library, which provides general
 functionalities for gaming input devices such as keyboard and mouses.
 .
 This package contains the icons and other generic files that are not
 development files or libraries.

Package: gaminggear-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities from libgaminggear
 Includes the following binaries:
 * gaminggearfxinfo
 * gaminggearfxcontrol
 .
 This package contains the runtime binaries.
